[submodule "~/vim/vim-indentguides"]
	path = ~/vim/vim-indentguides
	url = https://github.com/thaerkh/vim-indentguides
[submodule "~/vim/ctrlp.vim"]
	path = ~/vim/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "~/vim/vim-easy-align"]
	path = ~/vim/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "~/.vim/~/vim/vim-coffee-script"]
	path = ~/.vim/~/vim/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "~/.vim/~/vim/CoffeeTags"]
	path = ~/.vim/~/vim/CoffeeTags
	url = https://github.com/lukaszkorecki/CoffeeTags
[submodule "~/vim/emmet-vim"]
	path = ~/vim/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
